{% extends "base_page.html" %}

{% block body %}
  {{ super() }}
  Silenced for {{ duration }}.
  <p class="links">
    Links:
    <ul>
      <li><a href="/">Check on this monitor's status</a>
      <li><a href="{{ monitor_url }}/args">Inspect this monitor's args</a>
      <li>Inspect this monitor's
        <a href="{{ monitor_url }}/logs/info">INFO</a>, 
        <a href="{{ monitor_url }}/logs/warning">WARNING</a>, and 
        <a href="{{ monitor_url }}/logs/error">ERROR</a> logs
      <li><a href="/unsilence">Unsilence this alert</a>
    </ul>
  </p>
{% endblock %}